
numpy==1.26.4
scipy==1.10.1
scikit-learn==1.4.1.post1
pandas==1.5.3
h5py==3.8.0
PyYAML==6.0
tqdm==4.65.0
matplotlib==3.7.1


torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1


mne==1.4.2
mne-bids==0.13


transformers==4.35.2
accelerate==0.25.0
huggingface-hub==0.19.4
einops==0.7.0


axial-positional-embedding==0.2.1
local-attention==1.9.1
linear-attention-transformer==0.19.1

tensorboard==2.16.2
torchmetrics==0.11.4
